 <div ng-include="'components/navbar/navbar.html'"></div>

<div class="container main">
  <h1>Subject:

  <div class="col-xs-3 pull-right">
    <select class="form-control">
      <option ng-repeat="i in fruit | unique:'subject'">{{i.subject}}</option>
    </select>
  </div>

</h1>
  <p>Double Click on Questions to edit them</p>

  <div ng-repeat="question in fruit">
    <div class="panel panel-default">
      <div class="panel-body">
        <div ng-dblclick="startEdit(question); isEditing = !isEditing;" class="td-name">
          <h4><span ng-hide="isEditing">{{$index+1}}. {{question.question}}</span></h4>
          <form ng-submit="update(question, 'submit'); isEditing = false" ng-show="isEditing" class="form">
            <input ng-model="question.question" ng-blur="update(question, 'blur'); isEditing = false" input-focus="isEditing" class="form-control input-sm" required>
          </form>
        </div>
        <div class="btn-toolbar">
          <a href class="btn btn-sm btn-danger pull-right" ng-click="remove(question._id)">&times;</a>
          <a href class="btn btn-sm btn-success pull-right" ng-click="expand = !expand">Answer</a>
        </div>
          <p class="slide" ng-show="expand">{{question.answer}}</p>
        </div>
      </div>
    </div>
  </div>
